@use 'base';

.Formulario__autentificacion {
    width: 40%;
    margin: 20px;
    border-style: double;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    height: 100%;
    background-image: linear-gradient(base.$blanco, base.$color-claro);   
    border-color: base.$color-principal;
    float: inline-end;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.296);

}

.TituloRed {
    padding: 20px 20px 0px 20px;
    text-align: center;
    color: base.$color-principal;
    font-family: base.$fuente;
}

.DescripcionRed {
    padding: 0px 20px 20px 20px;
    text-align: center;
    color: base.$color-principal;
    font-family: base.$fuente;
}

