@use 'base';

.Formulario {
    display: flex;
    background-color: base.$color-principal;
    margin: 20px auto;
    border-radius: 20px;
    justify-items: center;
    width: 80%;
    box-shadow: base.$sombra-cajas;
}

.Formulario__contenedor {
    margin: 20px auto;
    width: 100%;

    
    
}

.Formulario__contenedor__email, 
.Formulario__contenedor__password,
.Formulario__contenedor__nombre,
.Formulario__contenedor__apellidos,
.Formulario__contenedor__genero {
    @include base.cajasFormularios
    
    
}

.MuiFormGroup-root {
    margin: 20px;
}

.MuiTypography-root{
    font-family: base.$fuente;
}

.MensajeError {
    background-color: red;
}



.MuiInputBase-input.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    color: base.$blanco;
    font-family: base.$fuente;
    border-color: transparent;
    
}



button {
    @include base.boton
}

button:hover, button:focus {
    box-shadow: 0 0 0 3em rgba(255, 255, 255, 0);

}



