@use "base";

.Perfil {
    padding-left: 10px;
    width: 70%;
}

.Perfil__contenido {
    border-radius: 6px;
}

.Perfil_contenido_central {
    height: 15rem;
}

.Perfil_contenido_central__img {
    width: 100%;
    height: 100%;
}

.Perfil__contenido__daatos {
    padding-right: 5px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    height: 5rem;
    
}

.Perfil__contenido__daatos__avatar {
    transform: translate(0px, -50px);
}

.Perfil__contenido__masDatos {
    padding: 5px;
    color: #053075;
}

.Perfil__contenido__masDatos__nombre {
    padding-left: 1px;
    font-weight: bold;
    text-align: left;
    color: #053075;
    font-size: 28px;
}

p {
    font-weight: lighter;
}

.Perfil__contenido__masDatos__perfil {
    display: flex;
    gap: 15px;
    justify-items: end;
    padding-left: 3px;
    color: #053075;
    font-weight: bold;
}

.Perfil__contenido__masDatos__post {
    display: flex;
    justify-content: center;
}

.Perfil__contenido__masDatos__post__Card {
    margin-top: 1.25rem;
    width: 70%;
}

.Perfil__contenido__masDatos_reels {
    display: flex;
    gap: 1,25rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 5px;
}

.boton {
    display: flex;
    margin-right: 0px;
    width: auto;
    height: 50px; 
    justify-content: right; 
    right: 0px;

}

.boton:hover {
    box-shadow: 0 0 0 3em rgba(255, 255, 255, 0);

}


