@use "base";

.ventana {

    color: base.$color-oscuro;
    background-color: base.$color-claro;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    outline: "none";
    overFlow: "scroll";
    border-radius: 10px;
    
}



.ventana__titulo {
    display: flex;
    justify-content: center;
    font-size: 32px;

}

.ventana__avatar {
    margin: base.$margen;
}

.ventana__imagen {
    margin: base.$margen;
}
.ventana__datos {
    display: flex;
    justify-content: center;
    margin: base.$margen;
}

.ventana__input {
    display: flex;
    justify-content: center;
    background-color: #053075;
    color: #ffffff;
    width: 90%;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    margin-bottom: 10px;
    box-sizing: border-box;
    margin-left: base.$margen;
    margin-right: base.$margen;
}

.ventana__boton {
    margin-bottom: 20px;
   margin-right: base.$margen;
 }